.main_signup {
    position: relative;
    background-color: #f0f0f0;
}

.img_background {
width: 100%;
height: calc(100vh - 80px); 
overflow: hidden;
}

.img_background img {
width: 100%;
height: 100%;
object-fit: cover;
}


.signup_content {
position: absolute;
top: 50%;
left: 50%;
padding-right: 180px;
transform: translate(-50%, -50%);
max-width: 500px;
padding: 20px;
background-color: rgba(255, 255, 255, 0.8); 
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}


label {
display: block;
margin-bottom: 5px;
font-size: 18px;
font-weight: bold;
}

input {
width: 100%;
padding: 10px;
margin: 5px 0;
border: none;
background-color: #f0f0f0;
border-radius: 5px;
font-size: 16px;
color: #333;
}

button {
margin-top: 20px;
width: 100%;
padding: 10px 0;
border: none;
background-color: #333;
color: #fff;
font-size: 18px;
cursor: pointer;
border-radius: 5px;
}


.Link {
display: block;
text-align: center;
margin-top: 10px;
color: #333;
font-size: 16px;
}
